# ENVIRONMENT
.env

# binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# test bins
*.test
*.out

# go workspace
go.work
go.work.sum

# VSC things
.vscode/

# images (temporary)
imgs/

internal_notes.txt