# ENVIRONMENT
.env

# binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
fyne-cross/

# test bins
*.test
*.out

# go workspace
go.work
go.work.sum

# VSC things
.vscode/

# images (temporary)
#imgs/
#*.png
# not anymore!

internal_notes.txt
*.bat